/hooks/*
/plugins/*
/platforms/browser/
/platforms/android/build/
/platforms/android/.gradle/*
/platforms/android/.gradle
/platforms/android/CordovaLib/build/
/platforms/android/android-release.apk
/.cordova/*
/.npm*
/config.xml
/package.json
npm-debug.log