* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  box-sizing: border-box;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  height:100%;
  margin:0px;
  padding:0px;
  width:100%;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  outline: none;
}

button.btn{
  border: none;
  background-color: #bbb;
  height: 50px;
  color: #fff;
  font-size: 18px;
}

button.btn-block{
  width: 100%;
  display: block;
}

button.btn-semitransparent{
  background-color: rgba(0,0,0,0.25);
}

.modal-alert{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.modal-alert .content{
  width: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;

  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  transition: transform 400ms ease;

  -webkit-transform: translate3d(0,100%,0);
  -moz-transform: translate3d(0,100%,0);
  -ms-transform: translate3d(0,100%,0);
  -o-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.modal-alert .content p{
  min-height: 100px;
  padding: 0px 10px;
}

.modal-alert .content button{
  width: 100%;
  height: 50px;
  background-color: #bbb;
  border: none;
  font-size: 18px;
}

@media screen and (min-width: 480px){
  .modal-alert .content button{
    width: 200px;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.modal-alert.open{
  display: block;
  opacity: 1;
  bottom: 0px;

}

.modal-alert.open .content{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.modal-confirm{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.modal-confirm .content{
  width: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;

  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  transition: transform 400ms ease;

  -webkit-transform: translate3d(0,100%,0);
  -moz-transform: translate3d(0,100%,0);
  -ms-transform: translate3d(0,100%,0);
  -o-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.modal-confirm .content p{
  min-height: 100px;
  padding: 0px 10px;
}

.modal-confirm .content button{
  width: 100%;
  height: 50px;
  background-color: #bbb;
  border: none;
  font-size: 18px;
}

.modal-confirm .content button:last-child{
  background-color: #ccc;
}

@media screen and (min-width: 480px){
  .modal-confirm .content button{
    width: 200px;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
  }
}

.modal-confirm.open{
  display: block;
  opacity: 1;
  bottom: 0px;

}

.modal-confirm.open .content{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.spinner {
  width: 70px;
  text-align: center;
  margin: auto;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ccc;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.1) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.login{
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fff;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-transition: transform 200ms ease;
  -moz-transition: transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.login form{
  width: 80%;
  margin: auto;
  max-width: 400px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.login form img{
  width: 100%;
  max-width: 310px;
}

.login form input{
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bbb;
  padding-left: 10px;
}

.login form button{
  margin-top: 10px;
}

.login form h5{
  font-weight: bold;
  font-size: 14px;
  color: #bbb;
}

.forgot-password{
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fff;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-transition: transform 200ms ease;
  -moz-transition: transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;

  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  -ms-transform: translate3d(-100%,0,0);
  -o-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.forgot-password form{
  width: 80%;
  margin: auto;
  max-width: 400px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.forgot-password form img{
  width: 100%;
  max-width: 310px;
}

.forgot-password form input{
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bbb;
  padding-left: 10px;
}

.forgot-password form button{
  margin-top: 10px;
}

.forgot-password form h4{
  font-weight: normal;
  font-size: 14px;
  color: #bbb;
}

.forgot-password form h5{
  font-weight: bold;
  font-size: 14px;
  color: #bbb;
}

.register-code{
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fff;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-transition: transform 200ms ease;
  -moz-transition: transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;

  -webkit-transform: translate3d(100%,0,0);
  -moz-transform: translate3d(100%,0,0);
  -ms-transform: translate3d(100%,0,0);
  -o-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.register-code form{
  width: 80%;
  margin: auto;
  max-width: 400px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.register-code form img{
  width: 100%;
  max-width: 310px;
}

.register-code form input{
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bbb;
  padding-left: 10px;
}

.register-code form button{
  margin-top: 10px;
}

.register-code form h4{
  font-weight: normal;
  font-size: 14px;
  color: #bbb;
}

.register-code form h5{
  font-weight: bold;
  font-size: 14px;
  color: #bbb;
}

.login.active-forgot-password{
  -webkit-transform: translate3d(100%,0,0);
  -moz-transform: translate3d(100%,0,0);
  -ms-transform: translate3d(100%,0,0);
  -o-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.forgot-password.active-forgot-password{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.register-code.active-forgot-password{
  -webkit-transform: translate3d(100%,0,0);
  -moz-transform: translate3d(100%,0,0);
  -ms-transform: translate3d(100%,0,0);
  -o-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.login.active-register-code{
  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  -ms-transform: translate3d(-100%,0,0);
  -o-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.forgot-password.active-register-code{
  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  -ms-transform: translate3d(-100%,0,0);
  -o-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.register-code.active-register-code{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.register{
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #fff;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-transition: transform 200ms ease;
  -moz-transition: transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.register form{
  width: 80%;
  margin: auto;
  max-width: 400px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.register form img{
  width: 100%;
  max-width: 310px;
}

.register form>input, .register form>select{
  width: 100%;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #bbb;
  padding-left: 10px;
}

.register form> .input-checkbox{
  width: 100%;
  height: 60px;
  padding-left: 10px;
  overflow: hidden;
  text-align: left;
  display: table;
}

.register form> .input-checkbox>.row{
  display: table-row;
}

.register form> .input-checkbox .checkbox{
  width: 32px;
  display: table-cell;
  vertical-align: middle;
}

.register form> .input-checkbox input{
  width: 32px;
  height: 32px;
  margin: 0px;
}

.register form> .input-checkbox label{
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  font-size: 12px;
  color: #555;
}

.register form button{
  margin-top: 10px;
}

.register form h5{
  font-weight: bold;
  font-size: 14px;
  color: #bbb;
}

.register>form .input-number{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
}

.register>form .input-number label{
  width: 100%;
  height: 60px;
  display: block;
  font-size: 14px;
  line-height: 60px;
  color: #bbb;
  text-align: left;
}

.register>form .input-number input{
  width: 1px;
  height: 1px;
  border: none;
  outline: none;
}

.register>form .input-number.focus label{
  display: none;
}

.register>form .input-number.focus input{
  width: 100%;
  height: 58px;
  margin-top: 1px;
  border: none;
  outline: none;
  font-size: 20px;
}

.register>form .input-date{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding-left: 10px;
}

.register>form .input-date label{
  width: 100%;
  height: 60px;
  display: block;
  font-size: 14px;
  line-height: 60px;
  color: #bbb;
  text-align: left;
}

.register>form .input-date input{
  /*width: 1px;
  height: 1px;*/
  font-size: 1px;
  border: none;
  outline: none;
  opacity: 0;
}

.register>form .input-date.focus label{
  display: none;
}

.register>form .input-date.focus input{
  width: 100%;
  height: 58px;
  margin-top: 1px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: #fff;
  opacity: 1;
}

.app{
  width: 100%;
}

.app>.header{
  width: 100%;
  height: 60px;
  background-color: #f8b13a;
  position: fixed;
  top: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.app>.header .icon{
  width: 40px;
  height: 50px;
  font-size: 30px;
  color: #fff;
  padding-top: 13px;
  float: left;
}

.app>.header .icon.right{
  float: right;
  text-align: right;
}

.app>.header .icon.example{
  display: none;
}

.app>.header .section-name{
  line-height: 58px;
  font-size: 20px;
  color: #fff;
  float: left;
}

.app>.content{
  width: 100%;
  position: fixed;
  top: 60px;
  bottom: 0px;
}

.app>.content .loading{
  width: 100%;
  display: none;
  margin-top: 40px;
}

.app>.menu{
}

.app>.menu .backdrop{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.app>.menu .content{
  width: 300px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  overflow: hidden;

  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  transition: transform 400ms ease;

  -webkit-transform: translate3d(-100%,0,0);
  -moz-transform: translate3d(-100%,0,0);
  -ms-transform: translate3d(-100%,0,0);
  -o-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);

}

.app>.menu.open .backdrop{
  bottom: 0px;
  opacity: 1;
}

.app>.menu.open .content{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.app>.menu .content .header{
  width: 100%;
  height: 150px;
  background-color: #ccc;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}

.app>.menu .content .header img{
  width: 90px;
  height: 90px;
  border-radius: 90px;
  float: left;
  margin-left: 10px;
}

.app>.menu .content .header h4{
  width: 190px;
  text-align: right;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  font-size: 16px;
  float: left;
}

.app>.menu .content .header h5{
  width: 100%;
  text-align: left;
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  padding-left: 10px;
  font-size: 18px;
  float: left;
}

.app>.menu .content .list{
  width: 100%;
}

.app>.menu .content .item{
  width: 100%;
  height: 60px;
}

.app>.menu .content .item .icon{
  width: 40px;
  height: 60px;
  float: left;
  line-height: 65px;
  margin-left: 15px;
}

.app>.menu .content .item .icon i{
  font-size: 30px;
  color: #aaa;
  margin-top: 5px;
}

.app>.menu .content .item .label{
  height: 40px;
  float: left;
  line-height: 60px;
  margin-left: 10px;
}

.app>.menu .content .item.active{
  background-color: #eee;
}

.app>.menu .content .item.active .icon i{
  color: #555;
}

/* SCREENS */

.app>.content .page .sub-header{
  width: 100%;
  height: 54px;
  position: fixed;
  top: 60px;
  left: 0px;
  background-color: #ccc;
}

.app>.content .page .sub-header .item{
  width: 100%;
  height: 50px;
  color: #B4B4B4;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  float: left;
}

.app>.content .page .sub-header .item.active{
  color: #fff;
}

.app>.content .page .sub-header .line{
  width: 100%;
  height: 4px;
  float: left;
}

.app>.content .page .sub-header .line .pointer{
  width: 100%;
  height: 4px;
  background: #fff;
}

.app>.content .page .sub-header.col-2 .item, .app>.content .page .sub-header.col-2 .line .pointer{
  width: 50%;
  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  transition: transform 400ms ease;
}

.app>.content .page .sub-header.col-3 .item, .app>.content .page .sub-header.col-3 .line .pointer{
  width: 33.3333333333333333333%;
  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  transition: transform 400ms ease;
}

.app>.content .page .list{
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.app>.content .page .list.authorizations{
  top: 114px;
  -webkit-transition: transform 200ms ease;
  -moz-transition: transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;
}

.app>.content .page .list.authorizations.families{
  left: 0px;
}

.app>.content .page .list.authorizations.visits{
  left: 100%;
}

.app>.content .page .list.authorizations.employees{
  left: 200%;
}

.app>.content .page .list.authorizations .item{
  width: 100%;
  height: 80px;
  border-top: 1px solid #cfcfcf;
}


.app>.content .page .list.authorizations .item:active{
  background-color: #eee;
}

.app>.content .page .list.authorizations .item img{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.app>.content .page .list.authorizations .item .info{
  height: 80px;
  float: left;
  margin-left: 10px;
}

.app>.content .page .list.authorizations .item .info h5{
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  color: #000;
  margin-top: 15px;
}

.app>.content .page .list.authorizations .item .info h4{
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  color: #555;
  margin-top: 5px;
}

.app>.content .page .list.authorizations .item.selected{
  background-color: #ff0000;
}

.app>.content .page .list.communications{
  top: 60px;
}

.app>.content .page .list.communications .item{
  width: 100%;
  height: 80px;
  border-top: 1px solid #cfcfcf;
  display: table;
}

.app>.content .page .list.communications .item .row{
  display: table-row;
}


.app>.content .page .list.communications .item:active{
  background-color: #eee;
}

.app>.content .page .list.communications .item .icon-column{
  display: table-cell;
  width: 60px;
  padding-left: 10px;
  vertical-align: middle;
}

.app>.content .page .list.communications .item .icon{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}

.app>.content .page .list.communications .item.pending .icon{
  background-color: #ccc;
}

.app>.content .page .list.communications .item.success .icon{
  background-color: #eee;
}

.app>.content .page .list.communications .item .info{
  height: 80px;
  padding-left: 10px;
  display: table-cell;
  vertical-align: middle;
}

.app>.content .page .list.communications .item .info h5{
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  color: #000;
}

.app>.content .page .list.communications .item .info h4{
  width: 90%;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  color: #555;
  margin-top: 5px;
}

.app>.content .page .list.communications .item.view .info h5,.app>.content .page .list.communications .item.view .info h4{
  color: #bbb;
}

.app>.content .page .list.communications .item.selected{
  background-color: #ff0000;
}

.app>.content .page .send-attachment-menu{
}

.app>.content .page .send-attachment-menu.open .backdrop{
  width: 100%;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0,0,0,0.1);
}

.app>.content .page .send-attachment-menu .menu{
  width: 100%;
  height: 100px;
  background: #fff;
  position: fixed;
  bottom: 60px;
  border-top: 1px solid #ccc;

  -webkit-transition: transform 200ms ease;
  -moz-transition: transform 200ms ease;
  -o-transition: transform 200ms ease;
  transition: transform 200ms ease;

  -webkit-transform: translate3d(100%,0,0);
  -moz-transform: translate3d(100%,0,0);
  -ms-transform: translate3d(100%,0,0);
  -o-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.app>.content .page .send-attachment-menu.open .menu{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.app>.content .page .send-attachment-menu .menu .content{
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.app>.content .page .send-attachment-menu .menu .content .type{
  width: 50%;
  float: left;
  text-align: center;
  padding-top: 16px;
}

.app>.content .page .send-attachment-menu .menu .content .type:active{
  background: rgba(0,0,0,0.1);
}

.app>.content .page .send-attachment-menu .menu .content .icon{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background: #709BF1;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  line-height: 50px;
  color: #fff;
  margin: auto;
}

.app>.content .page .send-attachment-menu .menu .content h5{
  margin: 0px;
  margin-top: 5px;
  color: #555;
}


.app .header-actions{
  width: 100%;
  height: 60px;
  background-color: #555;
  position: fixed;
  top: 0px;
  display: none;
}

.app .header-actions .icon{
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #fff;
  margin-left: 20px;
  padding-top: 13px;
  float: left;
}

.app .header-actions .icon.right{
  float: right;
}

.app .header-actions .section-name{
  line-height: 58px;
  font-size: 20px;
  color: #fff;
  float: left;
}

.app>.content .page .new-authorization-buttons{
}

.app>.content .page .new-authorization-buttons .backdrop{
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255,255,255,0.75);
  opacity: 0;
}

.app>.content .page .new-authorization-buttons.open .backdrop{
  bottom: 0px;
  opacity: 1;
}

.app>.content .page .new-authorization-buttons button.new{
  width: 60px;
  height: 60px;
  background-color: #bbb;
  border-radius: 60px;
  border: none;
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-align: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app>.content .page .new-authorization-buttons.open button.new{
  display: none;
}

.app>.content .page .new-authorization-buttons .add-button{
  width: 250px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  transition: transform 400ms ease;

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.app>.content .page .new-authorization-buttons .add-button h5{
  font-size: 20px;
  line-height: 0px;
  margin-right: 10px;
  float: right;
  color: #000;
  display: none;
}

.app>.content .page .new-authorization-buttons .add-button button{
  width: 60px;
  height: 60px;
  background-color: #bbb;
  border-radius: 60px;
  border: none;
  font-size: 30px;
  color: #fff;
  text-align: center;
  text-align: 60px;
  float: right;
  display: none;
}

.app>.content .page .new-authorization-buttons.open .add-button h5, .app>.content .page .new-authorization-buttons.open .add-button button{
  display: block;
}

.app>.content .page .new-authorization-buttons.open .add-button.new-visit{
  -webkit-transform: translate3d(0,-100%,0);
  -moz-transform: translate3d(0,-100%,0);
  -ms-transform: translate3d(0,-100%,0);
  -o-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.app>.content .page .new-authorization-buttons.open .add-button.new-employee{
  -webkit-transform: translate3d(0,-200%,0);
  -moz-transform: translate3d(0,-200%,0);
  -ms-transform: translate3d(0,-200%,0);
  -o-transform: translate3d(0,-200%,0);
  transform: translate3d(0,-200%,0);
}

@media screen and (min-width: 480px){
  .app>.content .page .new-authorization-buttons button.new{
    bottom: 30px;
    right: 30px;
  }

  .app>.content .page .new-authorization-buttons .add-button{
    bottom: 30px;
    right: 30px;
  }
}

.app>.content .page .authorization-form-family{
  width: 100%;
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 20px;
}

.app>.content .page .form-horizontal{
  width: 100%;
}

.app>.content .page .form-horizontal .input-number{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
}

.app>.content .page .form-horizontal .input-number label{
  width: 100%;
  height: 60px;
  display: block;
  font-size: 20px;
  line-height: 60px;
  color: #bbb;
}

.app>.content .page .form-horizontal .input-number input{
  width: 1px;
  height: 1px;
  border: none;
  outline: none;
}

.app>.content .page .form-horizontal .input-number.focus label{
  display: none;
}

.app>.content .page .form-horizontal .input-number.focus input{
  width: 100%;
  height: 58px;
  margin-top: 1px;
  border: none;
  outline: none;
  font-size: 20px;
}

.app>.content .page .form-horizontal .input{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
}


.app>.content .page .form-horizontal .input input, .app>.content .page .form-horizontal .input select{
  width: 100%;
  height: 58px;
  margin-top: 1px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: #fff;
}

.app>.content .page .form-horizontal .input-date{
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
}

.app>.content .page .form-horizontal .input-date label{
  width: 100%;
  height: 60px;
  display: block;
  font-size: 20px;
  line-height: 60px;
  color: #bbb;
}

.app>.content .page .form-horizontal .input-date input{
  /*width: 1px;
  height: 1px;*/
  font-size: 1px;
  border: none;
  outline: none;
  opacity: 0;
}

.app>.content .page .form-horizontal .input-date.focus label{
  display: none;
}

.app>.content .page .form-horizontal .input-date.focus input{
  width: 100%;
  height: 58px;
  margin-top: 1px;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: #fff;
  opacity: 1;
}

.app>.content .page .form-horizontal .input-avatar{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  overflow: hidden;
}

.app>.content .page .form-horizontal .input-avatar img{
  width: 160px;
  height: 160px;
  border-radius: 128px;
  border: 2px solid #ccc;
}

.app>.content .page .form-horizontal .input-avatar .buttons{
  width: 128px;
  margin: auto;
}

.app>.content .page .form-horizontal .input-avatar .buttons button{
  width: 64px;
  height: 50px;
  float: left;
  font-size: 30px;
  border: none;
  background-color: #bbb;
  color: #fff;
}

.app>.content .page .form-horizontal .input-avatar .buttons button:last-child{
  background-color: #ccc;
}

.app>.content .page center{
  width: 100%;
  padding: 0px 10px;
}

.app>.content .page center h4{
  font-size: 20px;
  font-weight: normal;
}

.app>.content .page center h5{
  font-size: 16px;
  font-weight: normal;
}

.app>.content .page .chat-list{
  width: 100%;
  position: fixed;
  top: 60px;
  bottom: 60px;
  left: 0px;
  right: 0px;
  background-color: #eee;
  background-image: url(../img/communications_back.jpg);
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 10px;
}

.app>.content .page .chat-input{
  width: 100%;
  height: 60px;
  background-color: #ccc;
  position: fixed;
  bottom: 0px;
  padding: 7px;
}

.app>.content .page .chat-input .content-parent{
  width: 100%;
  display: table;
  border-radius: 8px;
  overflow: hidden;
}

.app>.content .page .chat-input .content{
  display: table-row;
  background-color: #fff;
}

.app>.content .page .chat-input .content .input{
  width: 100%;
  display: table-cell;
}

.app>.content .page .chat-input .content .button{
  width: 50;
  display: table-cell;
}

.app>.content .page .chat-input input{
  width: 100%;
  background-color: #fff;
  border: none;
  height: 45px;
  padding-left: 10px;
  font-size: 18px;
}

.app>.content .page .chat-input button{
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  color: #bbb;
}

.app>.content .page .chat-list .chat-message{
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}

.app>.content .page .chat-list .chat-message>.content{
  max-width: 90%;
  min-height: 60px;
  background-color: #fff;
  padding: 10px;
  float: right;
}

.app>.content .page .chat-list .chat-message.left>.content{
  float: left;
}

.app>.content .page .chat-list .chat-message>.arrow-right{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  float: right;
  margin-top: 10px;
  margin-right: 5px;
  display: block;
}

.app>.content .page .chat-list .chat-message.left>.arrow-right{
  display: none;
}

.app>.content .page .chat-list .chat-message>.arrow-left{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  float: left;
  margin-top: 10px;
  display: none;
}

.app>.content .page .chat-list .chat-message.left>.arrow-left{
  display: block;
}

.app>.content .page .chat-list .chat-message>.content>h5{
  font-weight: normal;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  color: #555;
}

.app>.content .page .chat-list .chat-message>.content>h4{
  font-weight: normal;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
}

.app>.content .page .chat-list .chat-message>.content>h6{
  text-align: right;
  font-weight: normal;
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
  color: #555;
}

.app>.content .page .chat-list .chat-message>.content .attachment.img{
  width: 100%;
  padding: 10px 0px;
}

.app>.content .page .chat-list .chat-message>.content .attachment.img img{
  overflow: hidden;
  border: 1px solid #555;
}

.app>.content .page .chat-list .chat-message>.content .attachment.file{
  width: 100%;
  background: rgba(0,0,0,0.08);
  padding: 10px;
  overflow: hidden;
  margin-top: 5px;
}

.app>.content .page .chat-list .chat-message>.content .attachment.file i{
  width: 25px;
  display: block;
  float: left;
  font-size: 25px;
  color: #3EA0F9;
}

.app>.content .page .chat-list .chat-message>.content .attachment.file h5{
  display: block;
  float: left;
  font-size: 12px;
  color: #555;
  margin: 0px;
  padding: 0px;
  line-height: 25px;
}

.app>.content .page .chat-list .chat-message>.content .attachment:active{
  background: rgba(0,0,0,0.1);
}

.app>.content .page .info_communication{
  width: 100%;
  position: fixed;
  top: 60px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: auto;
  padding: 10px;
  background: #eee;
}

.app>.content .page .info_communication .block{
  width: 100%;
  background: #fff;
  padding: 10px;
  margin-top: 10px;
}

.app>.content .page .info_communication .block>h4{
  margin: 0px;
  font-size: 18px;
  color: #555;
  margin-top: 10px;
  margin-bottom: 5px;
}

.app>.content .page .info_communication .block>h5{
  margin: 0px;
  font-size: 16px;
  color: #999;
}

.app>.content .page .info_communication .block .participant{
  width: 100%;
  height: 80px;
}

.app>.content .page .info_communication .block .participant img{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.app>.content .page .info_communication .block .participant .info{
  height: 80px;
  float: left;
  margin-left: 10px;
}

.app>.content .page .info_communication .block .participant .info h5{
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  color: #000;
  margin-top: 15px;
}

.app>.content .page .info_communication .block .participant .info h4{
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  line-height: 20px;
  color: #555;
  margin-top: 5px;
}

.app>.content .page .info_communication .block .participant.selected{
  background-color: #ff0000;
}

.app>.content .page .list-configurations{
  width: 100%;
  position: fixed;
  top: 60px;
  bottom: 0px;
  left: 0px;
  overflow-x: hidden;
  overflow-y: auto;
}

.app>.content .page .list-configurations .item{
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ccc;
}

.app>.content .page .list-configurations .item:active{
  background-color: #eee;
}

.app>.content .page .list-configurations .item .icon{
  width: 40px;
  height: 70px;
  float: left;
  margin-left: 20px;
  line-height: 70px;
  text-align: center;
  font-size: 20px;
  color: #555;
}

.app>.content .page .list-configurations .item .label{
  height: 70px;
  line-height: 70px;
  float: left;
  margin-left: 10px;
  color: #555;
  font-size: 20px;
}

.app>.content .page .list-configurations .input{
  width: 100%;
  border-bottom: 1px solid #ccc;
  display: table;
  padding: 10px 20px;
}

.app>.content .page .list-configurations .input .content{
  width: 100%;
  display: table-row;
}

.app>.content .page .list-configurations .input .content .label{
  width: 100%;
  display: table-cell;
}

.app>.content .page .list-configurations .input .content .label h4{
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
}

.app>.content .page .list-configurations .input .content .label h5{
  margin: 0px;
  font-size: 12px;
  font-weight: normal;
  color: #555;
  margin-top: 10px;
}

.app>.content .page .list-configurations .input .content .checkbox{
  width: 50px;
  display: table-cell;
  vertical-align: middle;
}

.app>.content .page .list-configurations .input .content .checkbox>.box{
  width: 50px;
  height: 30px;
  margin: auto;
  background-color: #ccc;
  border-radius: 30px;
}

.app>.content .page .list-configurations .input .content .checkbox>.box>.pointer{
  width: 30px;
  height: 30px;
  background-color: #e69090;
  border-radius: 30px;

  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  transition: transform 400ms ease;

  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.app>.content .page .list-configurations .input .content .checkbox.checked>.box>.pointer{
  background-color: #90e697;

  -webkit-transform: translate3d(20px,0,0);
  -moz-transform: translate3d(20px,0,0);
  -ms-transform: translate3d(20px,0,0);
  -o-transform: translate3d(20px,0,0);
  transform: translate3d(20px,0,0);
}